.community {

    background-color: #f5f6f7;

    .community__slider {
        .community__line {}

        .community__elem {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .community__block {
            text-align: center;
            margin-right: 60px;
        }

        .community__icon {
            padding: 165px 0 30px 0;
        }

        .community__title {
            font-family: 'Gotham Rounded';
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .15em;
            color: #373737;

            padding-bottom: 15px;
        }

        .community__txt {
            font-family: 'Gotham Rounded';
            font-size: 10px;
            line-height: 1.2;
            font-weight: 500;
            letter-spacing: 0.15em;
            color: #373737;

            max-width: 145px;
            margin: 0 10px;
        }

        .community__img {
            padding: 120px 20px;
            flex-wrap: wrap;
        }
        .com__img{
            width: 100%;
            height: auto;
        }

        @media (max-width: 1200px){
            .community__block{
                width: 100%;
                margin: 0 auto;
            }
            .community__txt{
                margin: 0 auto;
            }
            .community__icon{
                padding-top: 50px;
            }
            .community__img{
                padding-top: 50px;
            }
        }
        @media (max-width:992px) {
            .community__img {
                padding: 10px;
            }
        }
        @media (max-width:575px) {
            .community__txt {
                font-size: 12px;
            }
        } 
    }
}