.design {
    max-width: 1080px;
    margin: 0 auto;
    position: relative;

    .slider__btn {
        text-align: right;
        margin-right: 50px;
        margin-top: 125px;
    }

    .prev,
    .next {
        background-color: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    @media (max-width:992px) {
        .slider__btn {
            text-align: left;
            padding: 0 0 10px 10px;
            margin-top: 60px;
        }
    }

    @media (max-width:575px) {
        .slider__btn {
            margin-top: 30px;
        }
    }

    .slider {
        overflow: hidden;
        padding: 0 20px;

        @media (max-width:992px) {
            .slider {
                
            }
        }

        @media (max-width: 575px) {
            .slider {
                height: auto;
            }
        }

        .slider-line {
            display: flex;
            justify-content: space-between;
            position: relative;
            left: 0;
            transition: all ease 1s;
            max-width: 80%;

            .slider__elem {
                min-width: 1080px;
                padding-right: 15px;
            }

            .design__block {
                max-width: 40%;
            }

            .slider__elem {
                display: flex;
                justify-content: space-between;
                margin-bottom: 50px;
            }

            @media (max-width: 767px) {
                .slider__elem {}
            }

            @media (max-width: 575px) {
                .slider__elem {
                    text-align: center;
                    min-width: 750px;
                }
            }

            .design__title {
                font-family: 'Gotham Rounded';
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: .15em;
                color: #16a085;
            }

            .design__txt {
                font-family: 'Gotham Rounded';
                font-size: 12px;
                font-weight: 400;
                letter-spacing: .15em;
                color: #373737;

                padding: 45px 0;
            }

            @media (max-width: 575px) {
                .design__txt {
                    font-size: 10px;
                }
            }

            .design__btn {
                font-family: 'Gotham Rounded';
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                color: #ffffff;
                margin-bottom: 45px;

                background-color: #16a085;
                padding: 20px 40px;
                border: none;
                border-radius: 5%;
                cursor: pointer;
            }

            .design__btn:hover {
                background-color: #0d6453;
                transition: .3s linear;
            }

            .count {
                font-family: 'Gotham Rounded';
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: .15em;
                color: #373737;
                padding-bottom: 7px;
            }

            @media (max-width:1200px) {
                .slider-line {}
            }

            @media (max-width:992px) {
                .design__img {
                    display: none;
                }

                .design__btn {
                    padding: 10px 20px;
                }
            }

        }
    }
}