.design {
    max-width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    

    .design__main {
        display: flex;
        max-width: 100%;
        justify-content: space-between;

        .design__img {
            width: 25%;
            position: relative;
        }

        .design__img2 {
            position: relative;
        }

        .design__phone {
            position: absolute;
            left: 0;
            top: 130px;
        }

        .design__screen {
            position: absolute;
            left: -452px;
            top: 190px;
        }

        .design__slider {
            padding-top: 140px;
            width: 40%;
        }

        .design__title {
            font-family: 'Gotham Rounded';
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            color: #16a085;
        }

        .design__txt {
            font-family: 'Gotham Rounded';
            font-size: 12px;
            font-weight: 400;
            letter-spacing: .15em;
            color: #373737;
            margin: 45px 0;
        }

        .design__btn {
            font-family: 'Gotham Rounded';
            font-size: 12px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .15em;
            color: #ffffff;
            margin-bottom: 160px;

            background-color: #16a085;
            padding: 20px 45px;
            outline: none;
            border: 0;
            border-radius: 5%;

            cursor: pointer;
        }

        .design__btn:hover {
            background-color: #0a473b;
            transition: .3s linear;
        }


        @media (max-width:1200px) {
            .design__slider {
                padding-top: 90px;
            }

            .design__img {
                display: none;

            }

            .design__slider {
                width: 100%;
                text-align: center;
                
            }
        }

        @media (max-width:992px) {
            .design__slider {
                padding-top: 50px;
            }
            .design__txt{
                padding: 0 15px;
            }
            .design__btn {
                padding: 10px 20px;
            }
        }

        @media (max-width:575px) {
            .design__btn {
                padding: 10px 20px;
            }
    
    }

    }

}