.design {
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 125px;
    position: relative;

    .slider {
        overflow: hidden;

        .slider-line {
            display: flex;
            justify-content: space-between;
            position: relative;
            left: 0;
            transition: all ease 1s;

            .slider__elem {
                min-width: 1080px;
            }

            .design__img {}

            .phone {}

            .design__block {
                max-width: 40%;
            }

            .slider__elem {
                display: flex;
                justify-content: space-between;
            }

            .design__title {
                font-family: 'Gotham Rounded';
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: .15em;
                color: #16a085;
            }

            .design__txt {
                font-family: 'Gotham Rounded';
                font-size: 12px;
                font-weight: 400;
                letter-spacing: .15em;
                color: #373737;

                padding: 45px 0;
            }

            .design__btn {
                font-family: 'Gotham Rounded';
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                color: #ffffff;
                margin-bottom: 45px;

                background-color: #16a085;
                padding: 20px 40px;
                border: none;
                border-radius: 5%;
                cursor: pointer;
            }

            .design__btn:hover {
                background-color: #0d6453;
                transition: .3s linear;
            }

            .count {
                font-family: 'Gotham Rounded';
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: .15em;
                color: #373737;
                padding-bottom: 7px;
            }


        }
    }

    .prev,
    .next {
        position: absolute;
        background-color: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }
    .prev{
        top: 450px;
        left: 650px;
    }
    .next{
        top: 450px;
        right: 370px;
    }
}