.download {
    background-color: #f5f6f7;
    padding: 90px 0 115px 0;

    .download__main {
        text-align: center;
        margin: 0 auto;
        max-width: 845px;

        .download__title {
            font-family: 'Gotham Rounded';
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            color: #373737;
        }

        .download__txt {
            font-family: 'Gotham Rounded';
            font-size: 12px;
            line-height: 22px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            color: #373737;

            padding: 15px 0 45px 0;
        }

        .button__block {
            display: flex;
            justify-content: center;
        }

        .download__button {
            display: flex;
            padding: 0 15px;
        }

        .download__btn {
            font-family: 'Gotham Rounded';
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            color: #ffffff;
            text-decoration: none;
            padding: 17px;

            background-color: #1abc9c;
            width: 240px;
        }

        .download__btn:hover {
            background-color: #16a085;
            transition: .3s linear;
        }

        .download__icon {
            padding: 16px;
            color: #ffffff;

            background-color: #16a085;
            border-radius: 0px 3px 3px 0px;
            outline: none;
            border: none;

            cursor: pointer;
        }

        .download__icon:hover {
            background-color: #1abc9c;
            transition: .3 linear;
        }

        @media (max-width:767px) {
            .download {
                padding: 50px 0 100px 0;
            }

            .button__block {
                flex-wrap: wrap;
            }

            .download__button {
                padding: 10px 10px;
            }

            .download__title {
                font-size: 16px;
            }

            .download__txt {
                font-size: 10px;
                padding: 10px 15px 30px 15px;
            }
        }

        @media (max-width:575px) {
            .download__txt {
                padding: 10px 15px 15px 15px;
            }
        }
    }
}


.footer {
    max-width: 1020px;
    margin: 0 auto;
    .footer__main {
        display: flex;
        justify-content: space-between;

        padding: 35px 0 45px 0;

        .footer__title {
            font-family: 'Gotham Rounded';
            font-size: 14px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            color: #373737;

            text-decoration: none;
        }
        .footer__title:not(:last-child)::after {
            content: "";
            border-right: 2px solid #16a085;
            padding-right: 5px;
        }
        .footer__title:hover{
            color: #16a085;
        }
        .footer__subtitls {
            font-family: 'Gotham Rounded';
            font-size: 14px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: 0.15em;
            color: #373737;

            padding-top: 25px;
        }

        @media (max-width:767px) {
            .footer__text {
                padding: 0 15px;
            }
            .footer__icon{
                padding: 0 15px;
            }
        } 
    }
}