.header {
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;

    .nav {
        font-family: 'Gotham Rounded';
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        color: #ffffff;
        text-decoration: none;
        margin-right: 67px;
    }

    @media (max-width:1200px) {
        .nav {
            max-width: 970px;
            font-size: 16px;
            margin-right: 40px;
        }
    }
    
    @media (max-width:992px) {
        .nav {
            max-width: 750px;
            font-size: 14px;
            margin-right: 20px;
        }
    }
    
    @media (max-width:767px) {
        .nav {
            display: none;
        }
    } 
    @media (max-width:575px) {
        .nav {
            display: none;
        }
    } 

    .nav:hover {
        color: #884c4c;
        transition: .3s;
    }

    .logo {
        padding-right: 67px;
    }

    @media (max-width:1200px) {
        .logo {
            max-width: 970px;
            font-size: 16px;
            padding-right: 40px;
        }
    }
    
    @media (max-width:992px) {
        .logo {
            max-width: 750px;
            font-size: 14px;
            padding-right: 20px;
        }
    }
    
    @media (max-width:767px) {
        .logo {
            max-width: none;
            font-size: 14px;
            padding-right: 0;
        }
    }
}

.intro {
    width: 100%;
    height: 100vh;

    background: url(/img/intro/bcmain.jpg) center no-repeat;
    background-size: cover;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .intro__title {
        font-family: 'Gotham Rounded';
        font-size: 36px;
        font-weight: 700;
        letter-spacing: .15em;
        text-transform: uppercase;
        color: #ffffff;
    }



    .intro__subtitle {
        font-family: 'Gotham Rounded';
        font-size: 16px;
        flex-wrap: 500;
        letter-spacing: .15em;
        color: #ffffff;
        padding-bottom: 60px;
    }

    .btnin {
        padding: 20px 30px;
        border-radius: 5%;

        font-family: 'Gotham Rounded';
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .15em;
        color: #ffffff;
        text-decoration: none;
        background-color: #16a085;
    }

    @media (max-width:1200px) {
        .intro__title {
            widows: 100%;
            margin: 0 auto;
            max-width: 970px;
            font-size: 36px;
        }
    }
    
    @media (max-width:992px) {
        .intro__title {
            max-width: 750px;
            font-size: 26px;
        }

        .intro__subtitle{
            font-size: 14px;
        }
    }
    
    @media (max-width:767px) {
        .intro__title {
            max-width: none;
            font-size: 26px;
        }

        .intro__subtitle{
            font-size: 14px;
        }
    } 
    @media (max-width:575px) {
        .intro__title {
            font-size: 16px;
        }

        .intro__subtitle{
            font-size: 10px;
        }

        .btnin{
            padding: 10px 20px;
        }
    } 
}

.logos {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 26px;
    left: 0;
    z-index: 1;

    .logosel {
        padding-right: 16px;
    }
}